<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="footer">
    <div class="aw-footer-wrap">
        <div class="aw-footer">
            <p class="mt-5 mb-3 text-muted">Copyright © 2023 · <span>xueyu</span></p>
            <!--            <a class="btn btn-sm">中文</a>-->
            <!--            <a class="btn btn-sm">English</a>-->
            <p>网站程序：
                <a href="https://docs.spring.io/spring-boot/docs/2.0.0.RC1/reference/htmlsingle/#boot-features-embedded-database-support">
                    spring boot</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>