<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>进步社区</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">
<!--    <script type="application/javascript">-->
<!--        window.onload = function () {-->
<!--            var closable = window.localStorage.getItem("closable");-->
<!--            if (closable == "true") {-->
<!--                window.close();-->
<!--                window.localStorage.removeItem("closable");-->
<!--            }-->
<!--        }-->
<!--    </script>-->
</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="aw-container-wrap">
    <div class="container aw-publish">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <div class="index-title">
                        <p><span class="glyphicon glyphicon-list" aria-hidden="true"></span><a class="index-find" href="/">发现</a></p>
                    </div>
                    <ul class="nav nav-tabs aw-nav-tabs active index-nav">
                        <li th:class="${section=='hottest'}?'active':''"><a href="/hottest">热门</a></li>
                        <li th:class="${section=='index'}?'active':''"><a href="/">最新</a></li>
                    </ul>
                    <div class="aw-mod aw-mod-publish">
                        <!--问题列表-->
                        <div class="mod-body">


                            <div class="media" th:each="question : ${pagination?.data}">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">
                                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                                    </h4>
                                    <p>
                                        • <a href="" class="aw-user-name" th:text="${question.user.name}"></a>
                                        <span class="text-color-999">发表了文章 • [[${question.commentCount}]] 个评论 • [[${question.viewCount}]] 次浏览
                                            • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                                    </p>
                                </div>
                                <hr>
                            </div>

                        </div>
                        <!--分页-->
                        <div class="mod-footer clearfix">
                            <nav aria-label="Page navigation" th:if="${section=='index'}">
                                <ul class="pagination">
                                    <li th:if="${pagination?.showFirstPage}">
                                        <a th:href="@{/(page=1,search=${search})}" aria-label="FirstPage">
                                            <span aria-hidden="true">&lt;&lt;</span>
                                        </a>
                                    </li>
                                    <li th:if="${pagination?.showPrevious}">
                                        <a th:href="@{/(page=${pagination?.page}-1,search=${search})}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&lt;</span>
                                        </a>
                                    </li>
                                    <li th:each="page : ${pagination?.pages}"
                                        th:class="${pagination?.page==page}? 'active' : ''">
                                        <a th:href="@{/(page=${page},search=${search})}" th:text="${page}"></a>
                                    </li>
                                    <li th:if="${pagination?.showNext}">
                                        <a th:href="@{/(page=${pagination?.page}+1,search=${search})}" aria-label="Next">
                                            <span aria-hidden="true">&gt;</span>
                                        </a>
                                    </li>
                                    <li th:if="${pagination?.showEndPage}">
                                        <a th:href="@{/(page=${pagination?.totalPage},search=${search})}"
                                           aria-label="EndPage">
                                            <span aria-hidden="true">&gt;&gt;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <nav aria-label="Page navigation" th:if="${section!='index'}">
                                <ul class="pagination">
                                    <li th:if="${pagination?.showFirstPage}">
                                        <a th:href="@{'/'+${section}(page=1)}" aria-label="FirstPage">
                                            <span aria-hidden="true">&lt;&lt;</span>
                                        </a>
                                    </li>
                                    <li th:if="${pagination?.showPrevious}">
                                        <a th:href="@{'/'+${section}(page=${pagination?.page}-1)}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&lt;</span>
                                        </a>
                                    </li>
                                    <li th:each="page : ${pagination?.pages}"
                                        th:class="${pagination?.page==page}? 'active' : ''">
                                        <a th:href="@{'/'+${section}(page=${page})}" th:text="${page}"></a>
                                    </li>
                                    <li th:if="${pagination?.showNext}">
                                        <a th:href="@{'/'+${section}(page=${pagination?.page}+1)}" aria-label="Next">
                                            <span aria-hidden="true">&gt;</span>
                                        </a>
                                    </li>
                                    <li th:if="${pagination?.showEndPage}">
                                        <a th:href="@{'/'+${section}(page=${pagination?.totalPage})}"
                                           aria-label="EndPage">
                                            <span aria-hidden="true">&gt;&gt;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
                    <div class="aw-mod publish-help">
                        <div class="mod-head">
                            <h3>热门话题</h3>
                            <div class="mod-body font-size-12 mod-body-bottom">
                                <ul>
                                    <li th:each="hot:${hots}">
                                        <span class="topic-tag">
                                            <a class="text" th:href="@{'/hottag/'+${hot.name}}"
                                               th:text="${hot.name}"></a></span>
                                        <span class="glyphicon glyphicon-fire fire"></span>
                                        <span class="text-color-999">[[${hot.priority}]] 热度</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="aw-mod">
                            <h3>微信答疑</h3>
                            <img class="img-margin" src="/images/wechat.png" height="97" width="200"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer::footer"></div>
</body>
</html>