<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${sectionName}"></title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="aw-container-wrap">
    <div class="container aw-publish">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <ul class="nav nav-tabs aw-nav-tabs active">
                        <h2><span th:text=" ${sectionName}"></span></h2>
                    </ul>
                    <div class="aw-mod aw-mod-publish" th:if="${section=='questions'}">
                        <div class="mod-body">

                            <div class="media" th:each="question : ${pagination.questions}">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object img-thumbnail" th:src="${question.user.avatarUrl}">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <a th:href="@{'/question/'+${question.id}}"><h4 class="media-heading" th:text="${question.title}"></h4></a>
                                    <p>
                                        • <a href="" class="aw-user-name" th:text="${question.user.name}"></a>
                                        <span class="text-color-999">
                                            发表了文章 • [[${question.commentCount}]] 个评论 • [[${question.viewCount}]] 次浏览 • [[${question.viewCount}]] 个点赞
                                            • <span
                                                th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                                        </span>
                                    </p>
                                </div>
                                <hr>
                            </div>

                        </div>
                        <div class="mod-footer clearfix">

                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li th:if="${pagination.showFirstPage}">
                                        <a th:href="@{'/profile/'+${section}(page=1)}" aria-label="FirstPage">
                                            <span aria-hidden="true">&lt;&lt;</span>
                                        </a>
                                    </li>
                                    <li th:if="${pagination.showPrevious}">
                                        <a th:href="@{'/profile/'+${section}(page=${pagination.page}-1)}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&lt;</span>
                                        </a>
                                    </li>
                                    <li th:each="page : ${pagination.pages}"
                                        th:class="${pagination.page==page}? 'active' : ''">
                                        <a th:href="@{'/profile/'+${section}(page=${page})}" th:text="${page}"></a>
                                    </li>
                                    <li th:if="${pagination.showNext}">
                                        <a th:href="@{'/profile/'+${section}(page=${pagination.page}+1)}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&gt;</span>
                                        </a>
                                    </li>
                                    <li th:if="${pagination.showEndPage}">
                                        <a th:href="@{'/profile/'+${section}(page=${pagination.totalPage})}" aria-label="EndPage">
                                            <span aria-hidden="true">&gt;&gt;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
                    <div class="aw-mod side-nav">
                        <div class="mod-head">
                        </div>
                        <div class="mod-body">
                            <ul class="list-group">
                                <li>
                                    <a href="/profile/questions" th:class="${section=='questions'}?'active':''">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        <i></i>我的提问
                                    </a>
                                </li>
                                <li>
                                    <a href="/profile/replies" th:class="${section=='replies'}?'active':''">
                                        <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
                                        <i></i>最新回复<span class="badge">14</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="footer::footer"></div>
</body>
</html>