<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>发布 - 进步社区</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/editormd.min.js"></script>
    <script src="/js/unread.js"></script>

</head>
<body>
<div th:insert="navigation :: nav"></div>
<div class="aw-container-wrap">
    <div class="container aw-publish">
        <div class="row">
            <div class="aw-content-wrap clearfix">
                <div class="col-sm-12 col-md-9 aw-main-content">
                    <ul class="nav nav-tabs aw-nav-tabs active">
                        <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
                    </ul>
                    <form action="/publish" method="post">
                        <input type="hidden" name="id" th:value="${id}">
                        <div class="aw-mod aw-mod-publish">
                            <div class="mod-body">
                                <div class="form-group">
                                    <h3>问题标题（简单扼要）:</h3>
                                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                                           placeholder="问题标题..." autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <h3>问题补充 (必填，请参照右侧提示):</h3>
                                    <div id="question-editor">
                                        <textarea name="description" style="display: none;"
                                                  th:text="${description}"></textarea>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    $(function () {
                                        var editor = editormd("question-editor", {
                                            width: "100%",
                                            height: 350,
                                            path: "/js/lib/",
                                            delay: 0,
                                            watch: false,
                                            placeholder: "请输入问题描述",
                                            imageUpload: true,
                                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                            imageUploadURL: "/file/upload",
                                        });
                                    });
                                </script>
                                <div class="form-group">
                                    <h3>添加标签:</h3>
                                    <input type="text" class="form-control" id="tag" name="tag" th:value="${tag}"
                                           placeholder="输入标签，以,分隔" autocomplete="off" onclick="showSelectTag()">
                                    <div class="tag-margin" id="select-tag">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" th:each="selectCategory,selectCategoryStat:${tags}"
                                                th:class="${selectCategoryStat.first?'active':''}">
                                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="profile"
                                                   role="tab" class="text-color-999" data-toggle="tab"
                                                   th:text="${selectCategory.categoryName}"></a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane" th:id="${selectCategory.categoryName}"
                                                 th:each="selectCategory,selectCategoryStat:${tags}"
                                                 th:class="${selectCategoryStat.first?'active tab-pane':'tab-pane'}">
                                                <span class="label label-info"
                                                      th:each="selectTag:${selectCategory.tags}">
                                                    <span class="glyphicon glyphicon-tags" th:text="${' '+selectTag}"
                                                          onclick="selectTag(this)" th:data-tag="${selectTag}"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <div class="mod-footer clearfix">
                                <div class="alert alert-danger alert-left alert-center" th:if="${error!=null}"
                                     th:text="${error}"></div>
                                <div class="alert-right">
                                    <button type="submit" class="btn btn-large btn-success btn-publish">确认发起</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- 侧边栏 -->
                <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
                    <!-- 问题发起指南 -->
                    <div class="aw-mod publish-help">
                        <div class="mod-head">
                            <h3>问题发起指南</h3>
                        </div>
                        <div class="mod-body">
                            <p><b>• 问题标题:</b> 请用<b style="color:red">精简</b>的语言描述您发布的问题，不超过25字</p>
                            <p><b>• 问题补充:</b> 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料：
                            <li>服务器运行环境信息；</li>
                            <li>软件版本；</li>
                            <li>问题发生的上下文信息；</li>
                            <li>可以完整复现问题的代码（如可直接运行于 Kibana Console 的复现流程）；</li>
                            <li>补充完整的异常和错误信息；</li>
                            <li>注意阅读格式友好，代码和异常信息请用代码标签格式化张贴；</li>
                            </p>
                            <p><b>• 选择标签:</b> 选择一个或者多个合适的标签，不超过<b style="color:red">10</b>个字</p>
                        </div>
                    </div>
                    <!-- end 问题发起指南 -->
                </div>
                <!-- end 侧边栏 -->
            </div>
        </div>
    </div>
</div>
<div th:insert="footer::footer"></div>
</body>
</html>